
#task{
    width: 65%;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 1px rgb(136, 153, 156);
    position: relative;
}

#task-section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popup{
    background-color: rgb(213, 64, 64);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: absolute;
    border-radius: 0.5rem;
    gap: 3px;
}

#popup button{
    width: fit-content;
    padding: 5px;
    border-radius: 0.5rem;
    border: none;
}


@media screen and (min-width:0px )and (max-width: 425px){
    #task{
        width: 70%;
        height: fit-content;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 5px 1px rgb(136, 153, 156);
        position: relative;
    }
    #popup {
        background-color: rgb(213, 64, 64);
        display: flex;
        flex-direction: column;
        padding: 0px; 
        position: relative;
        border-radius: 0.5rem;
        gap: 3px;
}
}


